/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
* {
  box-sizing: border-box; }

html {
  background: #F2F2F2; }

body {
  width: 100%;
  max-width: 340px;
  margin: 0 auto;
  padding: 120px 10px 0 10px;
  font-family: Arial;
  font-size: 18px;
  color: #4A4A4A; }

img {
  width: 100%; }

.partner-logo {
  width: 75%;
  margin-bottom: 60px; }

h1 {
  color: #000000;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.59px;
  line-height: 28px;
  margin-bottom: 60px; }

#form fieldset {
  margin-bottom: 30px; }
  #form fieldset .radio-field {
    position: relative;
    width: 120px;
    display: inline-block; }
    #form fieldset .radio-field label {
      display: block;
      position: relative;
      padding-left: 35px;
      z-index: 9;
      cursor: pointer; }
    #form fieldset .radio-field input[type=radio] {
      position: absolute;
      visibility: hidden; }
      #form fieldset .radio-field input[type=radio]:checked ~ .check::before {
        background: black; }
    #form fieldset .radio-field .check {
      display: block;
      position: absolute;
      background: white;
      border-radius: 100%;
      height: 25px;
      width: 25px;
      top: 0;
      left: 0;
      z-index: 5;
      border: 2px solid transparent;
      transition: border .2s ease-in-out;
      -webkit-transition: border .2s ease-in-out; }
      #form fieldset .radio-field .check::before {
        display: block;
        position: absolute;
        content: '';
        border-radius: 100%;
        height: 15px;
        width: 15px;
        top: 3px;
        left: 3px;
        margin: auto;
        transition: background 0.25s ease-in-out;
        -webkit-transition: background 0.25s ease-in-out; }
      #form fieldset .radio-field .check.error {
        border-color: #FFBABA; }
    #form fieldset .radio-field span.error {
      display: none !important; }
#form span.error {
  opacity: 0; }
#form .text-field {
  margin-bottom: 30px; }
  #form .text-field label {
    display: block;
    font-size: 18px;
    letter-spacing: .44px;
    line-height: 21px;
    margin-bottom: 5px; }
  #form .text-field input {
    background: white;
    width: 100%;
    max-width: 320px;
    height: 47px;
    border: 0;
    cursor: text;
    padding: 0 10px;
    border-top: 2px solid transparent;
    transition: border .2s ease-in-out;
    -webkit-transition: border .2s ease-in-out; }
    #form .text-field input.error {
      border-color: #FFBABA; }
    #form .text-field input.success {
      border-color: #DFF2BF; }
#form input[type=submit] {
  display: block;
  width: 255px;
  height: 60px;
  border: 1px solid black;
  border-radius: 2px;
  background: white;
  margin: 0 auto;
  cursor: pointer;
  transition: color .2s ease-in-out, background .2s ease-in-out;
  -webkit-transition: color .2s ease-in-out, background .2s ease-in-out; }
  #form input[type=submit]:hover {
    background: black;
    color: white; }
#form span.error {
  font-size: 14px;
  background: #FFBABA;
  padding: 5px 10px;
  margin-top: 5px;
  display: inline-block;
  width: 100%; }

#onSuccess {
  display: none; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important; }

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */ }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre {
    white-space: pre-wrap !important; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }

/*# sourceMappingURL=main.css.map */
