# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Useful .gitignore templates: https://github.com/github/gitignore



# Created by https://www.gitignore.io/api/sass

### Sass ###
.sass-cache/
*.css.map
*.sass.map
*.scss.map


# End of https://www.gitignore.io/api/sass
